{% load static %}

<!doctype html>
<html>
    <head>
        <title>adminlogin page</title>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
        <style>
           body{
            background: url("{% static 'images/elephant.jpeg' %}");
            background-size: cover;
           }
            .content{
                position:relative;
            }
            header{
                padding-top:250px;
              
            }
        </style>
    </head>
     <body>
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="container">
                        <div class="row"><div class="col-md-3"></div>
                            <div class="col-md-6 ">
                                <header>
                                <form action="adminhome.html" method="post" style="  box-shadow: 1px 10px 30px black;" class="p-5">
                                    <div class="" align="center">
                                    <h3 style="color:whitesmoke;margin-bottom:30px;"> ADMIN LOGIN</h3>
                                    <input type="text" required placeholder="USERNAME" class="form-control  mb-4">
                                    <input type="password" required placeholder="PASSWORD" class="form-control mb-4">
                                    <input type="submit" value="LOGIN" class="btn btn-success">
                                </form>
                                </header>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>