<!doctype html>
<html>
    <head>
        <title>enquiry form</title>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">

        <style>

        </style>
    </head>
    <body>
        <nav class="navbar navbar-expand-lg bg-dark mb-5">
            <div class="container-fluid">
                <a class="navbar-brand" style="font-family: cursive;"><b style="color:whitesmoke">EXPLORE</b><b style="color:orange"> UNSEEN</b></a>
                <ul class="navbar nav">
                    <li class="nav-item">
                        <a class="nav-link" style="color:white; font-family: cursive;" href="places.html">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white; font-family: cursive;" href="my orders.html">MY ORDER</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" style="color:white; font-family:cursive" href="userpage.html">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1 align="center" style="font-family: cursive ;margin-bottom:30px;">PAYMENT  FORM</h1>
        <P align="center" style="font-family: cursive; color:red;">ONLINE PAYMENTS ONLY</P>
       
            <div class="container-fluid">
                <div class="row">
                    
                    <div class="col-md-12" align="center">
                        
                        <img src="GooglePay_QR.png" style="height:400px;width:550px mb-3;"> 
                        <form>
                            <label class="form-label"></label>
                            <input type="text" placeholder="ENTER YOUR NAME"class="form-control w-25">
                            <label class="form-label"></label>
                            <input type="number" placeholder="ENTER YOUR CONTACT"class="form-control w-25 mb-5">
                            <a class="btn btn-dark" href="#">SUBMIT</a>
                        </form>
                    </div>
                </div>
            </div>
            
     
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>

    </body>
</html>