<!doctype html>
<html>
    <head>
        <title>VIEW ORDERS</title>
         <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
         <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
  <script src="https://code.jquery.com/jquery-3.7.0.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

  
        <style>
             .container h1{
                position: relative;
                bottom: 200px;
                text-align: center; 
                font-family: cursive;
                color:black;
            }
        </style>
    </head>
    <body>
         <nav class="navbar navbar-expand-lg bg-dark mb-5">
            <div class="container-fluid">
                <a class="navbar-brand text-white" style="font-family: cursive;"href="#">ADMIN<b style="color:orange;"> PANEL</b></a>
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/adminhome' %}active{% endif %} pe-3" style="color:white;font-family:cursive;" href="{% url 'adminhome' %}">HOME</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/view orders' %}active{% endif %} pe-3" style="color:white; font-family:cursive;" href="{% url 'view orders' %}">VIEW ORDERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link {% if request.path == '/completed orders' %}active{% endif %} pe-3" style="color:white; font-family:cursive;" href="{% url 'completed orders' %}">COMPLETED ORDERS</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link pe-3" style="color:white; font-family:cursive;" href="adminlogin.html">LOGOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
       <!-- <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <img src="mullaiyanagiri.jpg" style="box-shadow: 1px 10px 30px black;"width="100%" height="300px;">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <h1>ADMIN PANEL</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>-->
        <h3 class="display-6 d-flex justify-content-center text-success" style="font-weight:800;">CURRENT ORDERS</h3>
          <table id="packageTable" class="display" style="width:90%;margin:auto;">
            <thead>
                <tr>
                    <th>ORDER ID</th>
                    <th>NAME</th>
                    <th>PACKAGE NAME</th>
                    <th>DATE</th>
                     <th>PRICE</th>
                    <th>NUMBER OF PERSON</th>
                    <th>TOTAL PRICE</th>
                    <th>PAYMENT</th>
                    <th>STATUS</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>96</td>
                    <td>SHREYAS</td>
                    <td>KABINI TIGER RESERVE</td>
                    <td>26-06-2025</td>
                    <td>2000</td>
                    <td>10</td>
                    <td>20000</td>
                    <td><a class="btn btn-dark" data-bs-toggle="modal" data-bs-target="#view" href="#">VIEW MORE</a></td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                        <a class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#reject" href="#">REJECT</a></td>
                    
                </tr>
                 <tr>
                    <td>94</td>
                    <td>SACHIN</td>
                    <td>K GUDI</td>
                    <td>28-05-2025</td>
                     <td>2500</td>
                    <td>05</td>
                     <td>12500</td>
                    <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                    <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>84</td>
                    <td>SAGARA</td>
                    <td>MURUDESHWARA</td>
                    <td>27-05-2025</td>
                     <td>5000</td>
                    <td>03</td>
                     <td>15000</td>
                    <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                    <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>04</td>
                    <td>KAVYA</td>
                    <td>BANDIPURA TIGER RESRVE</td>
                    <td>29-05-2025</td>
                     <td>3000</td>
                    <td>10</td>
                     <td>30000</td>
                     <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                   <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>05</td>
                    <td>HRUTHIK</td>
                    <td>YANA</td>
                    <td>31-05-2025</td>
                     <td>1000</td>
                    <td>05</td>
                     <td>5000</td>
                    <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                    <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>06</td>
                    <td>RANJITH</td>
                    <td>AGUMBE GHAT</td>
                    <td>31-05-2025</td>
                     <td>2000</td>
                    <td>05</td>
                     <td>10000</td>
                    <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a>
                    <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>07</td>
                    <td>SUDHEENDRA</td>
                    <td>BRT TIGER RESRVE</td>
                    <td>04-06-2025</td>
                     <td>1000</td>
                    <td>10</td>
                     <td>10000</td>
                     <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a> <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
                 <tr>
                    <td>08</td>
                    <td>KIRAN</td>
                    <td>BISLE GHAT</td>
                    <td>06-06-2025</td>
                     <td>2500</td>
                    <td>10</td>
                     <td>12500</td>
                    <td><a class="btn btn-dark" href="">VIEW MORE</td>
                    <td align="center"><a class="btn btn-success px-2" href="#">CONFIRM</a> <a class="btn btn-danger" href="#">REJECT</a></td>
                </tr>
            </tbody>
          </table>

          <script>
            $(document).ready(function () {
                $('#packageTable').DataTable();
            })
          </script>

          <!--MODAL-->
           <div class="modal fade" id="view">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-body">
                        <h4 style="color:red;" align="center">PAYMENT STATUS</h4>
                        <p><b>NAME :</b> SHREYAS</p>
                        <p><b>TRANSCATION ID :</b> 2363475634 </p>
                        <p><b>DATE : </b> 25-05-2025 </p>
                        <p><b>AMOUNT : </b> $20000 </p>
                     </div> 
                 </div>
             </div>
          </div>
          <div class="modal fade" id="reject">
             <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                            <h3 style="color:red;" style="text-align: center;">REASON FOR REJECTION </h3>         
                    </div>
                            <div class="modal-body">
                        <form >
                            <select class="form-control mb-3">
                                <option value="reason" >REASONS</option>
                                <option value="reason" >BOOKINGS COMPLETED</option>
                                <option value="reason" >SAFARI CANCELLED DUE TO RAIN</option>
                                <option value="reason" >SAFARI BUSES ARE NOT AVAILABLE</option>
                            </select>
                               <div class="form-group">
                                   <textarea class="form-control mb-3" placeholder="DESCRIPTION" row="5"></textarea>
                                   <input type="SUBMIT" class="btn btn-danger form-control"value="SUBMIT">
                                </div>
                        </form>   
                            </div> 
                </div>
             </div>
          </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js"></script>
    </body>
</html>